body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.box{
  border: 1px solid black;
  width: 500px;
  text-align: center;
}

.WIN {
  border: 10px solid blue 
}

.LOSE {
  border: 10px solid red
}

.TIE {
  border: 10px solid orange
}

.item-img{
  width: 500px;
  height: 400px;
  object-fit: contain;
}

.main{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 30px
}

button{
  width: 70px;
  height: 50px;
  font-size: 16px;
}